<footer class="footer">
	<div class="container footer-mobile-container">
		<div layout="row" layout-sm="column" layout-xs="column" style="margin-bottom: 25px">
			<div class="md-container footer-menu" flex layout="column" layout-align="start center">
				<h3 class="introduce">Andy Sartori</h3>
				<p class="about-body">
					Andy Sartori is a young tech enterpreneur, CEO of <a href="https://www.mealpro.net" class="footer-link">MealPro</a>. As a self-made immigrant entreprneur U30 he was featured in the sentinel, freelancer magazine and is a distinguished UCSC alumnus.
				</p>
			</div>
			<div class="md-container quick-links footer-menu" flex layout="column" layout-align="start center">
				<h3 class="introduce">Entrepreneurship Links</h3>
				<ul class="links">
					<li><a ui-sref="app.famous-entrepreneurs">Millenial Entrepreneurs Under 30</a></li>
					<li><a ui-sref="app.motivational-speakers">Young Entrepreneurship Speakers</a></li>
					<li><a ui-sref="app.social-entrepreneurship">Young Social Entrepreneurs</a></li>
					<li><a ui-sref="app.entrepreneurs-articles">Young Immigrant Entrepreneurs</a></li>
				</ul>
			</div>
			<div class="md-container footer-menu" flex layout="column" layout-align="start center">
				<h3 class="introduce">Follow Andy</h3>
				<ul class="links">
					<li>
						<a href="https://www.facebook.com/andysartoriofficial" target="_blank">
							<i class="fa fa-facebook"></i>
							<span>Follow on Facebook</span>
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/andysartoriofficial/" target="_blank">
							<i class="fa fa-linkedin"></i>
							<span>Connect on LinkedIn</span>
						</a>
					</li>
					<li>
						<a href="https://angel.co/andysartori" target="_blank">
							<i class="fa fa-angellist"></i>
							Follow on Angel
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/andysartori1/" target="_blank">
							<i class="fa fa-instagram"></i>
							<span>Follow on Instagram</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- <div class="full-width">
			<md-nav-bar>
			    <md-nav-item md-nav-sref="#" name="dashboard">
			        About
			    </md-nav-item>
			    <md-nav-item md-nav-sref="#" name="housekeeping">
			        Contact
			    </md-nav-item>
			    <md-nav-item md-nav-sref="#" name="timecard">
			        Press Kit
			    </md-nav-item>
			    <md-nav-item md-nav-sref="#" name="requests">
			        Speaker Bio
			    </md-nav-item>
			    <md-nav-item md-nav-sref="#" name="chats" class="primary">
			        Entrepreneur Articles
			    </md-nav-item>
			    <md-nav-item md-nav-sref="#" name="speaker_bio" class="primary">
			        Speaker Bio
			    </md-nav-item>
			</md-nav-bar>
		</div> -->
	</div>
</footer>
