<md-content>
    <section class="section-video hidden-xs" layout="column">
        <vid-bg resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay"></vid-bg>
        <span class="overlay"></span>
        <div class="display-table" flex layout="column" layout-align="center center">
            <h1 class="video-title">Andy Sartori</h1>
            <h2 class="video-content">YOUNG ENTREPRENEUR & CEO UNDER 30</h2>
        </div>
    </section>
    <section class="section-video section-videoimage visible-xs">
        <img src="assets/images/AndySartoriMobileHero-1.jpg" alt="" width="1000" height="562" class="alignnone size-full wp-image-383">
        <div class="display-table">
            <div class="table-cell-middle text-center">
                <h1 class="video-title">Andy Sartori</h1>
                <h2 class="video-content">YOUNG ENTREPRENEUR & CEO UNDER 30</h2>
            </div></div>
    </section>
    <!--PRO BONO SERVICES-->
    <section style="padding-top:5rem; padding-bottom:5rem;">
        <h2 class="sectionHeader">Social Entrepreneurship</h2>
        <div class="slider-container service-container" layout="row" layout-xs="column" layout-sm="column">
            <div class="text-center" flex>
                <i class="fa fa-globe fa-2x m-y-20" aria-hidden="true"></i>
                <h3 class="md-headline text-center m-y-20" style="text-align:center;">Hunger Banquet</h3>
                <p class="service-desc">Food entrepreneur Andy leads the <a href="#">hunger banquet</a> program at MealPro.</p>
            </div>
            <div class="text-center" flex>
                <i class="fa fa-smile-o fa-2x m-y-20" aria-hidden="true"></i>
                <h3 class="md-headline text-center" style="text-align:center;">Student Mentoring</h3>
                <p class="service-desc">Young CEO Andy is an <a href="#">entrepreneur mentor</a> to university startups.</p>
            </div>
            <div class="text-center" flex>
                <i class="fa fa-microphone fa-2x m-y-20" aria-hidden="true"></i>
                <h3 class="md-headline text-center" style="text-align:center;">Motivational Speaking</h3>
                <p class="service-desc">Self-Made CEO Andy is a graduation speaker & event motivational speaker.</p>
            </div>
        </div>
    </section>
    <!--PRO BONO SERVICES END-->
    <!--FEATURED IN SECTION START
    <section>
        <h2 class="sectionHeader">Andy Was Featured In:</h2>
        <div class="slider-container">
            <slick settings="slickConfig">
                <md-card>
                    <img src="assets/images/AndyImage-300x213.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline text-center">The Santa Cruz Sentinel</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>More</md-button>
                    </md-card-actions>
                </md-card>
                <md-card>
                    <img src="assets/images/AndyGuy-300x213.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title flex>
                        <md-card-title-text>
                            <span class="md-headline text-center">Freelancer Magazine</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>More</md-button>
                    </md-card-actions>
                </md-card>
                <md-card>
                    <img src="assets/images/MealProBranding-1-300x213.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline text-center">SF Alumni Spotlight</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>More</md-button>
                    </md-card-actions>
                </md-card>
                <md-card>
                    <img src="assets/images/MealProBranding-1-300x213.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline text-center">UC Santa Cruz Notable Alumni</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>More</md-button>
                    </md-card-actions>
                </md-card>
                <md-card>
                    <img src="assets/images/AndyImage-300x213.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline text-center">10 Steps For Successfully Launching A New Product or Service</span>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                            <md-button>More</md-button>
                    </md-card-actions>
                </md-card>
                <md-card>
                    <img src="assets/images/AndyGuy-300x213.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title flex>
                      <md-card-title-text>
                        <span class="md-headline text-center">MealPro’s Pitch Deck</span>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                            <md-button>More</md-button>
                    </md-card-actions>
                </md-card>
                <md-card>
                    <img src="assets/images/MealProBranding-1-300x213.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline text-center">7 Simple steps for a successful brand building process</span>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                            <md-button>More</md-button>
                    </md-card-actions>
                </md-card>
                <md-card>
                    <img src="assets/images/MealProBranding-1-300x213.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline text-center">7 Simple steps for a successful brand building process</span>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                            <md-button>More</md-button>
                    </md-card-actions>
                </md-card>
            </slick>
        </div>
    </section>
    FEATURED IN END-->

    <!-- <section>
            <h2 class="sectionHeader">As a young tech entrepreneur and current young business owner Andy also enjoys:</h2>
            <div class="slider-container" layout="row" layout-xs="column" layout-sm="column">
                    <div flex>
                            <md-card>
                            <img src="assets/images/AndyImage-300x213.jpg" class="md-card-image" alt="Washed Out">
                            <md-card-title>
                              <md-card-title-text>
                                <span class="md-headline text-center">10 Steps For Successfully Launching A New Product or Service</span>
                              </md-card-title-text>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                    <md-button>More</md-button>
                            </md-card-actions>
                        </md-card>
                        <h3>Speaking Engagements</h3>
                    </div>
                    <div flex>
                        <md-card>
                            <img src="assets/images/AndyGuy-300x213.jpg" class="md-card-image" alt="Washed Out">
                            <md-card-title flex>
                              <md-card-title-text>
                                <span class="md-headline text-center">MealPro’s Pitch Deck</span>
                              </md-card-title-text>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                    <md-button>More</md-button>
                            </md-card-actions>
                        </md-card>
                        <h3>Startup Mentoring for students</h3>
                    </div>
                    <div flex>
                        <md-card>
                            <img src="assets/images/MealProBranding-1-300x213.jpg" class="md-card-image" alt="Washed Out">
                            <md-card-title>
                              <md-card-title-text>
                                <span class="md-headline text-center">7 Simple steps for a successful brand building process</span>
                              </md-card-title-text>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                    <md-button>More</md-button>
                            </md-card-actions>
                        </md-card>
                        <h3>Social Entrepreneurship</h3>
                    </div>
            </div>
    </section>
    <section>
            <div class="image-overlay">
                    <img src="assets/images/Andy-Sartori-Business-Presentation.jpg"/>
            </div>
            <div class="text-overlay md-padding" layout-fill layout="column" layout-align="start center">
                    <span flex="5"></span>
                    <h3 class="intro">Speaking engagements</h3>
                    <span flex="5"></span>
                    <p class="description">Andy presents to startup and. Andy also presents pro-bono to university groups and talks about the entrepreneurship joryney...</p>
            </div>
    </section>
    <section class="social-section md-padding">
            <div class="md-padding" layout="row" layout-xs="column" layout-sm="column">
                    <div flex layout="column" layout-align="center center">
                            <div id="avatar">
                                    <img src="assets/images/Andy-Sartori.jpeg" />
                                    <div id="image-caption">Image Caption</div>
                            </div>
                    </div>
                    <div flex>
                            <div layout="column">
                                    <h2>Lorem ipsum</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores iste ullam, et saepe assumenda id velit consequuntur fugit at voluptatem repellendus temporibus quis unde labore expedita aliquid, quo reiciendis reprehenderit!</p>
                            </div>
                            <div layout="row" layout-xs="column" layout-sm="column">
                                    <div flex layout="column">
                                            <h3>Lorem ipsum</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores iste ullam, et saepe assumenda id velit consequuntur fugit at voluptatem repellendus temporibus quis unde labore expedita aliquid, quo reiciendis reprehenderit!</p>
                                    </div>
                                    <div flex layout="column">
                                            <h3>Lorem ipsum</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores iste ullam, et saepe assumenda id velit consequuntur fugit at voluptatem repellendus temporibus quis unde labore expedita aliquid, quo reiciendis reprehenderit!</p>
                                    </div>
                            </div>
                            <div layout="row" layout-xs="column" layout-sm="column">
                                    <div flex layout="column">
                                            <h3>Lorem ipsum</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores iste ullam, et saepe assumenda id velit consequuntur fugit at voluptatem repellendus temporibus quis unde labore expedita aliquid, quo reiciendis reprehenderit!</p>
                                    </div>
                                    <div flex layout="column">
                                            <h3>Lorem ipsum</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores iste ullam, et saepe assumenda id velit consequuntur fugit at voluptatem repellendus temporibus quis unde labore expedita aliquid, quo reiciendis reprehenderit!</p>
                                    </div>
                            </div>
                    </div>
            </div>
</section> -->
    <!--YOUNG ENDTREPRENEUR START-->
    <section>
        <div class="text-overlay has-back left young-tech-entrepreneur" layout-fill layout="column" layout-align="start center" style="padding-top: 32px">
            <div class="back-overlay"></div>
            <h2 class="intro">Young Tech Entrepreneur</h2>
            <p style="color:#fff;margin: 3rem 0" flex>Andy Sartori is the young venture-backed CEO of technology startup, MealPro. As a millenial entrepreneur U30 Andy Sartori is an expert at technology startups in the B2C online retail space. Andy's Silicon Valley food tech startup experience allowed him to develop core competencies in the awareness, acquisition and conversion stages of the customer journey.</p>
            <md-button ng-click="null">Read Full Entrepreneurship Story <md-icon md-svg-src="assets/svg/right_double_arrow.svg"></md-icon></md-button>
            <span flex="20"></span>
        </div>
    </section>
    <!--YOUNG ENTREPRENEUR END-->
    <!--SELF MADE ENTREPRENEUR START-->
    <section style="margin-top:0px;">
        <div class="text-overlay has-back right self-made-entrerpeneur" layout-fill layout="column" layout-align="start center" style="padding-top: 32px">
            <div class="back-overlay"></div>
            <h2 class="intro">Self-made Entrepreneur</h2>
            <p style="color:#fff;margin: 3rem 0" flex>Young, Self-made entrepreneur Andy Sartori started his journey as a young business owner with a food truck in 2014. His small business soon became a silicon valley startup.</p>
            <md-button ng-click="null">Read Full Entrepreneurship Story <md-icon md-svg-src="assets/svg/right_double_arrow.svg"></md-icon></md-button>
            <span flex="20"></span>
        </div>
    </section>
    <!--SELF MADE ENTREPRENEUR END-->
    <!--IMMIGRANT ENTREPRENEUR START-->
    <section style="margin-top:0px;">
        <div class="text-overlay has-back left immigrant-entreprenur" layout-fill layout="column" layout-align="start center" style="padding-top: 32px">
            <div class="back-overlay"></div>
            <h2 class="intro">Immigrant Entrepreneur</h2>
            <p style="color:#fff;margin: 3rem 0" flex>Andy moved to the United States from Milan, Italy as a student athlete at UC Santa Cruz. Shortly after college he began
                his career at Panda Express Restaurant in Palo Alto, CA. Passionate about food and fitness he had his first
                entrepreneurship stint in 2015 as a food truck owner in Silicon Valley. Soon after, his company evolved into an online
                fitness food delivery service for athletes, MealPro. Today andy is the venture backed CEO of MealPro, he holds a
                B.A. in Economics from UC Santa Cruz and is an advocate for entrepreneurship in everyday life.  In his free time Andy
                enjoys speaking at schools to educate about entreprneurship and enjoys mentoring student lead startups in B2C
                eCommerce food or fitness space in his startup mentoring program.</p>
            <md-button ng-click="null">Read Full Entrepreneurship Story <md-icon md-svg-src="assets/svg/right_double_arrow.svg"></md-icon></md-button>
            <span flex="20"></span>
        </div>
    </section>
    <!--IMMIGRANT ENTREPRENEUR END-->
    <!--MOST POPULAR ARTICLES START-->
    <section style="margin-top:8em; margin-bottom:10em;">
            <h2 class="sectionHeaderArticles">Andy's Most Popular Entrepreneurship Articles</h2>
            <!-- <p>As a young entrepreneur and young venture backed ceo andy sartori advocated for entreprneurship in everyday life. As a young business owner under 30 andy sartori talks about millenial entreprneurism and the challengs and success strategies to success in technology startups. Through his experiences as a food entrepreneur building MealPro, the silicon valley startup that is become the leading online fitness food delivery service andy shares expriences and concrete strategies that every young millenial entrepreneur can implement.</p> -->
            <div class="slider-container" layout="row" layout-xs="column" layout-sm="column">
                    <md-card flex style="box-shadow: 0px;">
                    <img src="assets/images/AndyImage-300x213.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                      <md-card-title-text>
                        <p class="md-headline text-center">10 Steps For Successfully Launching A New Product or Service</p>
                      </md-card-title-text>
                    </md-card-title>
                    <!-- <md-card-actions layout="row" layout-align="end center">
                            <md-button>More</md-button>
                    </md-card-actions> -->
                </md-card>
                <md-card flex style="box-shadow: 0px;">
                    <img src="assets/images/AndyGuy-300x213.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title flex>
                      <md-card-title-text>
                        <p class="md-headline text-center">MealPro’s Pitch Deck</p>
                      </md-card-title-text>
                    </md-card-title>
                    <!-- <md-card-actions layout="row" layout-align="end center">
                            <md-button>More</md-button>
                    </md-card-actions> -->
                </md-card>
                <md-card flex style="box-shadow: 0px;">
                    <img src="assets/images/MealProBranding-1-300x213.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                      <md-card-title-text>
                        <p class="md-headline text-center">7 Simple steps for a successful brand building process</p>
                      </md-card-title-text>
                    </md-card-title>
                    <!-- <md-card-actions layout="row" layout-align="end center">
                            <md-button>More</md-button>
                    </md-card-actions> -->
                </md-card>
            </div>
    </section>
    <!-- MOST POPULAR ARTICLES END-->
    <!--EMAIL CAPTURE SECTION START-->
    <section class="sharing-section">
        <div class="image-overlay" style="max-height:300px; overflow:hidden;">
            <img src="assets/images/Andy-Sartori-College-Entrepreneur.jpg"/>
        </div>
        <div class="text-overlay" layout="column" layout-fill layout-align="center start">
            <div layout-fill layout="row">
                <div class="fab-wrapper">
                        <md-fab-speed-dial md-direction="{{fab_direction}}" class="md-scale">
                        <md-fab-trigger>
                          <md-button aria-label="menu" class="md-fab md-primary md-social">
                            <md-icon md-svg-src="assets/svg/share.svg"></md-icon>
                          </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                          <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                            <md-icon md-svg-src="assets/svg/twitter.svg" aria-label="Twitter"></md-icon>
                          </md-button>
                          <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                            <md-icon md-svg-src="assets/svg/facebook.svg" aria-label="Facebook"></md-icon>
                          </md-button>
                          <md-button aria-label="Email" class="md-fab md-raised md-mini">
                            <md-icon md-svg-src="assets/svg/inbox.svg" aria-label="Google Hangout"></md-icon>
                          </md-button>
                          <md-button aria-label="Crown" class="md-fab md-raised md-mini">
                            <md-icon md-svg-src="assets/svg/crown.svg" aria-label="Google Hangout"></md-icon>
                          </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
                <div layout-fill layout="column" layout-align="start center" class="input-area .layout-row">
                    <h2 class="intro">Learn about Silicon Valley startup culture from a millenial entrepreneur </h2>
                    <div class="wrap">
                        <p class="inter-text">Get startup advice from a millenial entreprneur under 30 who implements modern digital startegies to scale teams in silicon valley technology startups. Sign up to get the latest scoop straight to your inbox. </p>
                        <div class="email-form">
                            <div flex="100" flex-sm="100" flex-xs="100" layout="column" layout-sm="row" layout-align="center center">
                                <div id="mc_embed_signup" class="full-width">
                                    <form action="https://mealpro.us12.list-manage.com/subscribe/post?u=d3005f4ab18354743cba64de1&amp;id=625b1d882a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll" class="full-width">
                                            <div class="mc-field-group full-width display-flex">
                                                <input type="email" value="" name="EMAIL" placeholder="Type your Email" class="required email" id="mce-EMAIL">
                                            </div>
                                            <div id="mce-responses" class="clear full-width">
                                                <div class="response" id="mce-error-response" style="display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_d3005f4ab18354743cba64de1_625b1d882a" tabindex="-1" value="">
                                            </div>
                                            <div class="clear full-width display-flex"><md-button type="submit" class="md-raised md-primary" id="mc-embedded-subscribe">Subscribe</md-button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <!--EMAIL CAPTURE SECTION END-->

    <section>
        <div class="free-entry">
            <h2 class="sectionHeader">Follow to Get Entrepreneurship Advice and Practical Business Advice:</h2>
            <p>Andy Sartori is a millenial entreprneur under 30, who is the young CEO of fittech startup MealPro, the online leading retailer for fitness food delivery for athletes and athletic people. As a young entreprneur Andy’s business acument is geared towards a modern silicon valley startup vibe. Andy sartori is an advocate for entreprneurship in everyday life follow on social media:</p>
        </div>
    </section>
    <!-- Instagram Post-->
    <section class="instafeed">
        <h2 class="sectionHeader"> Andy Sartori Instagram Feed</h2>
        <div id="instafeed"></div>
    </section>
</md-content>
